.about{
    width:90vw;
    height: 100vh;
    margin:0 5rem;
    padding-top: 10vh;
}

.about h2{
    font-family: galaxy;
    font-size:2rem;
    margin:1rem 0;
}

p{
    font-size:1rem;
    line-height: 2rem;
    margin-bottom: 3rem;
}

.tech_tools{
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    width:90vw;
    height: 30vh;
}



.marquee{
    /* border:2px solid red; */
    width:90vw;
    overflow: hidden;
}

/* .marquee:before, .marquee:after{
    content: '';
    position: absolute;
    width:10rem;
    height: 50%;
    top:30%;
    z-index: 1;
    border: 2px solid red; 
}

.marquee:after{
    right: 0;
    background: linear-gradient(to right, #414141 0%,transparent 100%);

}
.marquee:before{
    left: 0;
    background: linear-gradient(to left, #414141 0%,transparent 100%);

} */

.marquee_content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    animation: marquee 15s linear infinite;
    /* border: 2px solid blue; */
}

.marquee_content li{
    list-style: none;
    width: 15vw;
    flex-shrink: 0;
}

.marquee img{
    width:100px;
    height:100px;
    object-fit: cover;
    margin: 0 3rem;
}

@keyframes marquee{
    0% {
        transform: translateX(0);
    }

    100%{
        transform: translateX(-135vw);
    }
}