.about{
    width:90vw;
    height: auto;
    margin:0 5rem;
    padding-top: 10vh;
    position: relative;
    /* border:2px solid red; */
}

.about_content{
    width:100%;
    word-wrap:break-word;
}
.about h2{
    font-family: galaxy;
    font-size:2rem;
    margin:1rem 0;
}

p{
    font-size:1rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 3rem;
}

.tech_tools{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    width:90vw;
    height: auto;
    margin-bottom: 2rem;
}



.marquee{
    width:90vw;
    overflow: hidden;
}

/* .marquee:before, .marquee:after{
    content: '';
    position: absolute;
    width:10rem;
    height: 50%;
    top:30%;
    z-index: 1;
    border: 2px solid red; 
}

.marquee:after{
    right: 0;
    background: linear-gradient(to right, #414141 0%,transparent 100%);

}
.marquee:before{
    left: 0;
    background: linear-gradient(to left, #414141 0%,transparent 100%);

} */

.marquee_content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    animation: marquee 15s linear infinite;
    /* border: 2px solid blue; */
}

.marquee_content:hover{
    animation-play-state: paused;
}

.marquee_content li{
    list-style: none;
    width: 15vw;
    flex-shrink: 0;
}

.marquee img{
    width:100px;
    height:100px;
    object-fit: cover;
    margin: 0 3rem;
}

@keyframes marquee{
    0% {
        transform: translateX(0);
    }

    100%{
        transform: translateX(-135vw);
    }
}
@media screen and (max-width:950px) and (min-width:250px){
    
    @keyframes marquee{
        0% {
            transform: translateX(-10vw);
        }
    
        100%{
            transform: translateX(-150vw);
        }
    }

    .about{
        margin:0 2rem;
        margin-bottom: 1rem;
        padding-top: 0;
    }
    .about_content{
        width:95%;
        word-wrap: normal;
    }

    p{
        font-size:0.7rem;
        margin:0 0 1rem -1rem;
    }

    .marquee{
        /* border:2px solid red; */
        margin:0 4rem 1rem 1rem;
        width:80vw;
    }
    
    .marquee img{
        width:50px;
        height:50px;
        object-fit: cover;
        margin: 0 3rem;
    }

    .marquee_content:hover{
        animation-play-state:running;
    }
    .tech_tools h2{
        margin-right: 2rem;
    }

    /* .marquee_content{
        animation: marquee 10s linear infinite;
    }
     */
}

@media screen and (max-width:1200px) and (min-width:1000px){
    .about{
        margin:0 2rem;
        margin-bottom: 1rem;
        padding-top: 5vh;
    }
    p{
        font-size:0.7rem;
    }

}