.body{
  display:grid;
  grid-auto-flow: column;
  /* grid-template-columns: 1fr 1fr; */
  column-gap: 0.5rem;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}

.body-img{
    width:40vw;
    height: 100vh;
    background-color: blue;
}

.contact{
    display: flex;
    flex-direction: column;
    margin:2rem;
}
.contact h2{
 margin:1rem;
}

.form{
 display: flex;
 flex-direction: column;
 justify-content: center;
 width:30%;
 margin: 0.5rem;

}
