.body{
  display:grid;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  /* padding: 1rem; */
  /* font-family: monospace; */
  /* padding-top: 10vh; */
  height: 100vh;
}

.body-img{
    width:40vw;
    height: 90vh;
    /* background-color: lightslategray; */
    margin: 0 5rem;
    position: relative;
}

.body-img img{
  width:40vw;
  height: 80vh;
  object-fit: cover;
  background-color: lightslategray;
  border-radius: 100%;
}


.body-content{
  width:100%;
  margin-right: .5rem;
}

.body-content h2{
  text-align: center;
   font-size:4rem;
   font-family: galaxy;
   text-transform: capitalize;
   margin:2rem 0;
 }

 .body-content p{
   font-size: 1.2rem;
   font-family: mont_black;
   font-weight: 700;
   }

   .body-content .btn{
     display: flex;
   }

 .body-content button{
    padding:10px 50px;
    margin:2rem .5rem;
    border: 1px solid gray;
    background:-webkit-linear-gradient(0deg,transparent 50%, grey 50%);
    background-size: 200%;
    transition: all .3s ease-in;
    font-family: galaxy;
    font-size:1rem;
    font-weight: 700;
    color:white;
  }
  
  .body-content button a{
    text-decoration: none;
}

.body-content button span{
  opacity:0;
}

.body-content button:hover{
background-position: -100%;
}

.body-content button:hover span{
  opacity:1;
}

.contacts{
  position: relative;
  display: grid;
  grid-auto-flow:column;
}

.contact{
    display: flex;
    flex-direction: column;
    margin:2rem 5rem;
    width:100%;
}

.contact h2{
  text-transform: capitalize;
  font-family: galaxy;
  font-size: 2rem;
  margin:1rem;
}

.form{
 display: flex;
 flex-direction: column;
 justify-content: center;
 width:30%;
 margin: 0.5rem;
}

.form label{
  text-transform: capitalize;
  font-size: 1.2rem;
}

.form input{
  border:none;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 2px solid grey;
  padding:.5rem;
  margin-top: 15px;
  background: none;
  outline: none;
  color:whitesmoke;
}

textarea{
  border:none;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 2px solid grey;
  margin-top: 40px;
  padding: 30px 0;
  overflow-y: hidden;
  background: none;
  outline: none;
  caret-color: grey;
  color:whitesmoke;
}
.contact button{
  padding:10px 50px;
  margin:2rem 0;
  border: 1px solid gray;
  background:-webkit-linear-gradient(0deg,grey 50%,transparent 50%);
  background-size: 200%;
  transition: all .3s ease-in;
  font-family: galaxy;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color:white;
}


.contact button span{
opacity:0;
}

.contact button:hover{
background-position: 100%;
}

.contact button:hover span{
opacity:1;
}

.contacts .contact-logo{
  position: absolute;
  bottom: 8rem;
  left:60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-logo div{
 margin:0 1.5rem;
}

.contact-logo img{
  width:30px;
  height: 30px;
  object-fit: contain;
  filter: invert(1);
}

@media screen and (max-width:950px) and (min-width:250px) {
  .body{
    display:grid;
    grid-auto-flow: row;
    padding-top: 10vh;
    justify-content: center;
  }
  
  .body-img{
    width:0;
    height:40%;
    margin: 0 0;
    left:25%;
    position: relative;
}
.body-img > div {
  display: flex;
  width:50vw;
  height: 30vh;
}
.body-img img{
  width:100%;
  height: 100%;
  border-radius: 100%;
  object-fit: contain;
}

.body-content h2{
   font-size:3rem;
 }

 .body-content p{
  font-size: 1rem;
  font-family: mont_black;
  font-weight: 700;
  text-align: center;
  }

  .body-content .btn button{
    padding:10px 40px;
    margin:2rem 1rem;
    font-size:0.7rem;
    font-weight: 700;
  }

  .contacts{
    display: grid;
    grid-auto-flow:row;
  }
  .contacts .contact-logo{
    position: static;
    bottom: 0;
    justify-content: space-evenly;

  }

  .contact-logo div{
    margin:0 0 3rem 0;
   }
}

@media screen and (max-width:950px) and (min-width:750px){
  .body-img > div {
    width:50vw;
    height: 40vh;
  }
  .body-img img{
    width:100%;
    height: 100%;
    border-radius: 100%;
    object-fit: contain;
  }
  .contacts{
    position: relative;
    display: grid;
    grid-auto-flow:row;
  }
}



@media (hover: none) and (pointer: fine) {
  .body-content button:hover a{
    background-color: lightgray;
    }
    
}