@font-face {
  font-family: mont_black;
  src: local('mont_black'),
      url('./Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: galaxy;
  src: local('galaxy'),
      url('./Distant-Galaxy-Outline/DISTGAOI.TTF');
}


*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.App {
 height: auto;
 width: auto;
 background-image: linear-gradient(to bottom right,#414141,#000000);
 background-size: cover;
 color:white;
 overflow-x: hidden;
 font-family:mont_black;
}

.App .navbar{
  position: fixed;
  top:0;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  width:100vw;
  /* margin-bottom: 10vh; */
  z-index: 10;
  
}

.App nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlink{
 padding: 0 1.5rem;
 text-transform:capitalize;
}
.navbar h2{
  font-size:2.5rem;
  font-family: galaxy;
}

.navbar .contact-logo{
   display:none;
}

.fill{
  position: fixed;
  background: orange;
  width:100%;
  /* height: ; */
  z-index: 10;
  transition: all .2s ease;
}
.navlink a{
  font-family: galaxy;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.App .home{
  width:100%;
  /* margin-top: 10vh; */
}


@media screen and (max-width:950px) and (min-width:250px) {


  /* nav{
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left:0;
    right: 0;
    top:2px;
    background-color: black;
    width:100%;
    height: 70vh;
    isolation: isolate;
    z-index: -1;
    transform: translateX(0);

  } */

  .navbar h2{
    z-index:100;
  }

  /* .navbar .contact-logo{
    display:flex;
 } */

 .navbar .contact-logo div{
  margin:0 1rem;
 }
  .navlink{
    padding: 1.5rem;
    text-transform:capitalize;
   }

   .navlink a{
    color:white;
    z-index: 2;
   }

  
}