/* @font-face {
  font-family: mont_black;
  src: url(src/Montserrat/Montserrat-Black.ttf);
} */

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.App {
 height: 100vh;
 width: 100vw;
 background-image: linear-gradient(to bottom right,#414141,#000000);
 color:white;
 overflow-x: hidden;
 font-family:monospace;
}

.App .navbar{
  position: fixed;
  top:0;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  width:100vw;
  margin-bottom: 5px;
  z-index: 10;
  /* background-color: lightslategray; */
}

.App nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlink{
 padding: 0 1.5rem;
 text-transform:capitalize;
 
}
.navbar h2{
  font-size:2rem;
}

.navlink a{
  font-family: monospace;
  font-size: 1rem;
 color: white;
 text-decoration: none;
}
.navlink span{
  opacity: 0;
  transition: .3s ease-in-out;
}

.navlink:hover span,
.navlink:active{
  opacity:1;
}

.App .home{
  width:100%;
  margin-top: 10vh;
  /* border:2px solid blue; */
}

